### 1. Types of SQL Commands

**Data Definition Language (DDL)** These commands are used to create the structure of SQL Databases and Tables. Ex: CREATE, ALTER, DROP, TRUNCATE, RENAME etc.,

**Data Manipulation Language (DML)** These commands are used to manipulate the data present in in the database. Ex: SELECT, INSERT, UPDATE, DELETE etc.,

**Data Control Language (DCL)** These commands control data access permissions to user. Ex: GRANT, REVOKE etc.,

**Transaction Control Language (TCL)** These commands will control the transactions. Ex: COMMIT, ROLLBACK, SAVEPOINT etc.,

### 2. What is a Table in SQL?

Table is a set of organized data. In tables data is stored in the form of Rows & Columns. Each row is a record and column is a field.

### 3. What is Primary Key?

Primary key is a special kind of UNIQUE KEY. It uniquely identifies rows in a table. Primary key cannot be NULL and a table can have only one Primary Key.

SSN is an example of a primary key.

In [7]:
# Example to create primary key on ALTER TABLE

ALTER TABLE Persons
ADD PRIMARY KEY (ID);

SyntaxError: invalid syntax (<ipython-input-7-aed13ab450b1>, line 3)

In [6]:
# Example to create primary key on CREATE TABLE

CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
);

SyntaxError: invalid syntax (<ipython-input-6-b47150b66067>, line 3)

### 4. Foreign Key

Forein key is primary key in another table. It is used to create relationship between two tables. Usually in databases most of the data is spread across different tables, when retrieving the data we often need to combine multiple tables primary key and forein keys are used when combining the data across tables.

### 5. Difference between Primary key and Foreign Key

1. Primary key is uniquely identify a record in the table where as Foreign key is a primary key in another table.

2. Primary key doesnt accept Null values whereas Foreign key accepts null values.

3. We can have only one primary key in a table but we can have more than one Foreign Keys inside a table.

4. The example for a primary key is SSN number and for foreign key is Street address.

### 6. What is Unique Key?

https://www.javatpoint.com/unique-key-in-sql

- Unique Key uniquely identifies each record in the table.

- It cannot be duplicate

- It can be NULL

###  7. Difference between Primary Key and Unique Key?

Both are used to uniquely identify the records in the table. Both dont accept duplicate values. But Primary Key cannot be NULL where as Unique key can be NULL.

### 8. What level of Normalization did your company tables are using?

Most of the companies usually Normalize atlest upto Third Normal Form (3NF) to avoid inconsistencies. Basically Normalization breaks the table into small partitions and links them using relationships.

By doing so removes anomalies, redundancy and inconsistencies in data.

There are three forms of Normalizations. 

1. First Normal Form (1NF)

2. Second Normal Form (2NF) --> No partial dependency

3. Third Normal Form (3NF)  --> No Transitive dependency

4. Fourth Normal Form (4NF)

For more detailed notes on Normalization I went through the below articles.
https://www.edureka.co/blog/normalization-in-sql/

https://www.youtube.com/playlist?list=PLLGlmW7jT-nTr1ory9o2MgsOmmx2w8FB3

### 9. Difference between snowflake schema and star schema?

These Star and Snowflake schemas are used when designing a datawarehouse.

In **Star Schema** there is one fact table and there are few dimension tables surrouding the fact table. The main thing to know here are these dimension tables are *Not Normalized*

In **Snowflake Schema** there will be fact table at the center and the dimension tables surrounding fact table are *nomalized* which splits data into additional tables. This difference makes huge difference when querying tables in snowflake schema. This makes us to use lot of joins and querytime will be quiet slow.

For more notes on this topic, I referred the following article.
https://www.guru99.com/star-snowflake-data-warehousing.html

<img src="datasets/1.png">

### 10.Types of Operators in SQL

- Arithmetic Operators : +,-,%,/,*

- Logical Operators : AND OR IN BETWEEN LIKE etc.,

- Comparision Operators : < > = >= <= !=

### 11. What are Views in SQL?

- View is a virtual table which contain subset of data. 

- Since Views are not originally present, it takes less space to store.

- A view can have data from more than one table

- Views are used to apply security mechanisms in SQL

### 12. What are Indexes in SQL?

- Indexes are used for fast retrieval of records from table/views.

- An Index contains keys built from one or more columns in the table or view. These keys are stored in a structure that enables SQL to find the row or rows associated with key values quickly and efficiently.

- They reduce cost of query.

- A index cannot be duplicated.

### 13. What are types of Indexes in SQL?

There are two types of Indexes in SQL

1. Clustered Index

2. Non-Clustered Index

Each type of index has its own properties they are,


- Clustered index is faster than Non-Clustered index.

- One table can have only one clustered index but can have multiple non-clustered indexes.

- Clustered index changes the way how records are stored in the database. While non-clustered index does not alter the way records are stored but it creates a separate objject within a table which points back to the original table after searching.

### 14. Difference between TRUNCATE and DELETE

- DELETE deletes one or more rows from the table.

- TRUNCATE deletes all the rows.

- You can rollback DELETE command but you cannot rollback TRUNCATE command.

### 15. Difference between DROP and TRUNCATE

If table is dropped, all things associated with table like relationships, checks, constraints, access previliges and grants are dropped as well. To create the table again in original form, all these things should be redefined.

However, if table is truncated, table retains its original structure. Only rows are deleted.

### 16. What are aggregate functions in SQL?

An aggregate function performs calculation on one or more values and returns a single value. Aggregate functions are often used with GROUPBY clause and HAVING clause.

Aggregate functions ignores NULL values, except in COUNT() function.

<img src="datasets/2.gif">

### 17. What is COALESCE in SQL?

It is a built-in SQL function. It retuns first `NON-NULL value`. It is used to replace NULL values in a column with any other value.

Same thing can be achieved with CASE statement but COALESCE is used as shortcut to CASE statements when replacing the NULL values.

### 18. What is Stored Procedure in SQL?

A stored procedure is a prepared SQL code that you can save, so that code can be resused over and over again. The main advantage with stored procedures is, SQL stores execution plan when you call the stored procedure for the first time. When the Stored procedure is called later it refers to the execution plan that is stored in cache. It makes them to very reliable and execute faster.

Stored procedure wraps the SQL statements inside,


CREATE PROCEDURE proc_name

AS

BEGIN

    > SQL code...

END;

### 19. What are JOINS in SQL?

Joins combine data from multiple tables. There are various types of joins

1. INNER JOIN

2. LEFT JOIN

3. RIGHT JOIN

4. OUTER JOIN

### 20. What is difference between UNION and UNION ALL?

- UNION command is used to combine records from two tables.

- The difference between JOINS and UNION is - JOINS combine columns and UNION combines rows.

- To perform UNION selected columns from both tables must be of same Data Type.

- UNION selects Distinct values among the combined records where as UNION ALL selects  all the information including duplicates also.

### 21. What are different constratins in SQL?

Constraint specify rules in SQL

**NOT NULL** Restricts NULL value being inserted into column.

**DEFAULT** Automatically assigns DEFAULT value, if no value is assigned.

**UNIQUE** Ensures unique values are inserted in column.

**INDEX** Used for faster retrieval of records.

**PRIMARY KEY** uniquely identifies records in table
 
**FOREIGN KEY** Primary key in another table.

**CHECK** Limits the value range that can be placed in a column.

### 22. What are subqueries in SQL?

- Sub uery is query within a query. It is also called as Nested Query. 

- Subqueries can either return only one row from inner SELECT statement or it can return multiple rows.

- Subquery executes first, and its output is used to execute outer query.

- We can have upto 32 levels of subqueries.

### 23. What is pattern matching in SQL?

Pattern matching is used to search for patterns in data if you dont know the exact value. 

For pattern matching you can use wildcard operators with LIKE operator in WHERE clause and enclose the pattern within single quotation marks.

<img src="datasets/wc2.jpg">

### 24. Difference between IN and BETWEEN in SQL

BETWEEN operator is used to display values based on range of values.

<img src="datasets/bet.png">

IN condition operator is used to check for values contained in a specific set of values.

<img src="datasets/in.png">

### 25. Difference between HAVING and WHERE clause.

WHERE is used to filter records before GROUPING and HAVING is used to filter records after GROUPING.

WHERE can be used even when we are not performing GROUP BY operations. But HAVING should be used only along with GROUP BY.

### 26. What are Triggers in SQL?

A trigger is a code that automatically executed with response to some event on the table. Triggers are always associated with table and they are invoked after a data row is inserted, updated or deleted.

Triggers are also used to enforce business rules and security.

### 27. Difference between CHAR and VARCHAR2 in SQL?

Both are used to store textual data in the form of strings but,

- CHAR stores strings of fixed length.

- VARCHAR2 stores strings of variable lenght

### 28. Difference between SQL and MySQL

SQL is a standard language and MySQL is RDBMS.

### 29. What is Denormalalization in SQL?

Denormalization is adding redundant data from various tables by combining them and forming a sigle table.

### 30. How do you fetch alternate records from a table?

You can fetch odd or even records using MOD() method.

### 31. What is a Recursive Stored Procedure in SQL?

Recursive Stored Procedure refers to a stored procedure which calls itself until it reaches some boundary.

### 32. What is MERGE statement in SQL?

MERGE statement is used to update the target table based on source table. 

If source table has some rows that does not exist in target tables then we INSERT.

If source table do not have rows that are in target tables we DELETE.

### 33. What are Entities and Relationships?

Entities are a person, place, thing about which data is stored in the database. Relationships are links between Entities.

Different types of relationships are

1. One-to-One

2. One-to-Many

3. Many-to-Many

### 34. What are different types of Subqueries?

1. Correlated Subquery

2. Non-Correlated subquery

The main difference between subqueries lies in their working. A regular subquery just run once and return a value or set of values which is used by outer query.

Correlated subquery runs again for each rows returned by outer query because output of whole query is based upon comparing the data returned by one row to all other rows of a table.

Example: Finding the second highest salary of an employee in a given table.  It compares the salary returned by outer query and compares with other salaries to findout how many salaries are higher than this current salary.

### 35. What is difference between PL/SQL and SQL?

SQL is a query language that allows you to issue a single query or execute single INSERT/DELETE/UPDATE statement

PL/SQL is procedural language that allows you to write a full program using loops. With PL/SQL you can accomplish multiple operations at once.

### 36. What is OFFSET in SQL?

OFFSET clause specifies the number of rows to skip before stating to return rows from the query. Basically it excludes the first set of records.

- OFFSET can only be used with ORDER BY. It cannot be used by its own.

- OFFSET must be greater than or equal to zero.

- FETCH clause specifies the number of rows to return after the OFFSET clause has been processed.

- OFFSET clause is mandatory and FETCH is optional.

### 37. Differences between TOP and OFFSET

They both are used for the same result but they have few differences

<img src="datasets/off.png">

### 38. How to replace NULL values in SQL?

When retrieving the data from tables, there are different ways to replace NULL values with different word.

- ISNULL()

- CASE Statement

- COALESCE()


**ISNULL()** is the easiest way of all. It just takes column name and replacement value. If there is any null value inside column it replaces them with replacement word.

**COALESCE()** function is used to return first non-null value. COALESCE() is much similar to ISNULL(), you can pass the column name and replacement value when retrieving the data. It replaces the NULL values with replacement value.

**CASE statement** 

[CASE WHEN "expression" THEN  "expression" ELSE "expression" END]

This is how we use CASE statements. We specify CASE keyword first, then we specify an expression, if that expression returns True, THEN what value do you want you specify here. ELSE what value you want you will specify here.

### 39. What are Analytical Functions in SQL?

Unlike aggregate functions, however analytical functions can return multiple rows for each group of rows. Internally execution of analytical functions organizes the data into partitions, computes the functions over these partitions in a specific order and returns the result.

Examples:

- RANK()

- DENSE_RANK()

- ROW_NUMBER()

- LEAD()

- LAG()

### 40. Difference between RANK() and DENSE_RANK()

In RANK(), ties are assigned same rank with next ranking(s) skipped.

EX: 1, 1, 1, 4

In DENSE_RANK(), ties are assigned same rank but it assigns next consecutive rank.

Ex: 1, 1, 1, 2

### 41. Difference between IN and EXISTS?

### 42. How do you copy data from one table to another?

You can use INSERT INTO statement along with SELECT statement to copy data from one table to another.

INSERT INTO table2

SELECT * FROM table1

WHERE condition;

### 43. What is cursor?

### 44. What is identity column in SQL?

An identity column in where SQL automatically generates numeric values. We can define a start and increment value of the identity column.

### 45. What is  schema?

Collection of database objects of a User.

### 46. Difference between LEAD() and LAG()

By using the LAG() function, from current row, you can access data of the previous row, or row before the current row or so on.

By using the LEAD() function, from current row, you can access data of the next row or the row after next or so on.